/* notice__board start */

#container hr {
    border: 1px solid #7FB4E3;
}

#notice__board {
    width: 1100px;
    margin: 0 auto;

    border: 1px solid #7FB4E3;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}


#content__img {
    width: 400px;
    height: 300px;
    margin-bottom: 30px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.notice__board__info {
    display: flex;
    justify-content: space-between;
}

.notice__board__info__icon {
    display: flex;
    justify-content: space-between;
}

.notice__board__info__icon>p {
    margin-right: 10px;
}

#content {
    margin-bottom: 60px;
}

.likes__report {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.likes__report>p {
    margin-left: 20px;
}

.input__box {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 10px;
}

#comment__input {
    border-radius: 5px;
    padding: 5px;
    resize: none;
    border: 1px solid #7FB4E3;
    height: 40px;
    margin-bottom: 10px;
    width: 89%;
    font-size: 15px;
}

#confirm__btn {
    width: 10%;
    height: 40px;
    background-color: #7FB4E3;
    border: none;
    color: white;
    border-radius: 5px;
}

#author {
    color: #7FB4E3;
}

.commnet__contents>.comment__icon {
    display: flex;
}

.comment__icon {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.comment__icon>p {
    margin-right: 10px;
}

.comment__icon>#report {
    margin-left: auto;
}

.list__box {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

#pre__box {
    border-radius: 5px;
    border: 1px solid #7FB4E3;
    width: 33%;
    text-align: center;
}

#next__box {
    border-radius: 5px;
    border: 1px solid #7FB4E3;
    width: 33%;
    text-align: center;
}

.list {
    border-radius: 5px;
    background-color: #7FB4E3;
    width: 33%;
    text-align: center;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    color: white;
}

.list>a {
    text-decoration: none;
}

.author__timelog {
    display: flex;
    justify-content: space-between;
}